.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 4;
  border-bottom: 1px solid var(--color-gray);
  max-height: 600px;
}

.col1 {
  flex: 1;
  position: relative;
}

.col2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 100%;
  border-bottom: 1px solid var(--color-gray);
}

.filler {
  flex: 1;
}

.movieNotFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

@media (min-width: 860px) {
  .innerContainer {
    flex-direction: row;
    flex: 1;
  }

  .col2 {
    flex: 2;
  }
}
