.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

.container:hover {
  cursor: pointer;
}

.text {
  color: var(--color-primary);
  margin-left: 5px;
}
