html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(71, 127, 247);
  --color-primary-complement: rgb(202, 238, 253);
  --color-secondary: rgb(123, 160, 163);
  --color-secondary-complement: rgb(213, 233, 231);
}
